/* Menu Institucional web */
div.navFooter {
    background-color: #F5F5F5;
    padding: 40px;
}
/* Menu Institucional mobile */
div.navFooterMobile {
    display: none;
}
/* Listas de links  */
div.ListsFooter {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;

}
/* Titulo */
div.ListsFooter h6 {
    color: #292929;
    font-size: 14px;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    margin-bottom: 24px;
}
/* Links */
ul.listNavFooter {
    list-style: none;
}
li a {
    color: #292929;
    font-weight: normal;
    font-size: 14px;
    text-transform: uppercase;
    line-height: 25px;
}
li a:hover {
    color: #BA0038;
}
/* Links Icones */
div.faceInsta a img {
    margin-right: 20px;
}
/* Formas de Pagamentos e Tecnologias */
div.technology {
    padding-top: 20px;
}
div.tecsFooter {
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}
div.tecsFooter h6 {
    color: #292929;
    font-size: 14px;
    margin-bottom: 24px;
    font-weight: normal;
}
/* Copyright */
div.footerCopy {
    background-color: #000;
    padding: 10px 0;
}
div.footerCopy p {
    margin: 0;
    color: #E4E4E4;
    font-size: 12px;
    text-align: center;
}